body {
    font-family: Arial, sans-serif;
    background-color: #922a4c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #6a1d36;
    padding: 20px;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    color: white;
    font-size: 16px;
    flex: 1;
    text-align: left;
    margin-right: 10px;
}

input, select, textarea {
    flex: 2;
    padding: 8px;
    border: none;
    width: 100%;
}

textarea {
    height: 50px;
    resize: none;
}

.gender-options {
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;
}

button {
    background-color: white;
    color: black;
    padding: 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #ddd;
}

.button-container {
    display: flex;
    justify-content: center;
}
