#heading{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 25px;
}
#name{
    text-align: center;
}

table{
    width: 80vw;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid black;
}
th{
    background-color: rgb(102, 198, 239);
    text-align: left;
    border: 1px solid black;

}
tr.stylerow{
    border: 1px solid black;

}
th, td{
    padding: 10px;
    border: 1px solid black;

}

